[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=Browse the file system
Exec=thunar
Icon=file-manager
Terminal=false
Categories=System;FileTools;