[Desktop Entry]
Version=1.0
Type=Application
Name=Text Editor
Comment=Create and edit text files
Exec=mousepad
Icon=accessories-text-editor
Terminal=false
Categories=Office;TextEditor;