[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/config/Desktop/file-manager.desktop]
row=5
col=0

[/config/Desktop/terminal.desktop]
row=2
col=0

[/config/Desktop/web-browser.desktop]
row=4
col=0

[/config/Desktop/text-editor.desktop]
row=3
col=0

[/]
row=0
col=0

[/config]
row=1
col=0

